# OS
.DS_Store

# IDE
.idea/

# Python
__pycache__/
**__pycache__/**
*.pyc
*.pyo
.mypy_cache/
.dist

# Test outputs
coverage-output/

# uv
.venv/

# Build
dist/
build/
*.egg-info/

# AI
.planning/
.worktrees/